/*Палітра */
/*  палітра тексту
    основний колір тексту --------- #212121
    другорядний колрір тексту ----- #757575
    колір тексту білий------------- #FFFFFF
    колур акценту тексту ---------- #2196F3
    палітра фонів 
    колір акценту------------------ #2196F3
    колір фону білий--------------- #FFFFFF
    колір фону темний-------------- #2F303A
    колір фону св-сірий------------ #F5F4FA */
:root {
  /* text-colores */
  --pr-col-txt: #212121;
  --second-col-txt: #757575;
  --wite-col-txt: #ffffff;
  --akcent-col-txt: #2196f3;
  /* bg-colores */
  --bg-akcent-col: #2196f3;
  --bg-wite-col: #ffffff;
  --bg-darck-col: #2f303a;
  --bg-lightgrey-col: #f5f4fa;
}

* {
  font-family: "Roboto", sans-serif;
  color: var(--pr-col-txt);
  /* padding: 0; 
  margin: 0;*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo*/
.logo {
  color: var(--akcent-col-txt);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-var {
  color: var(--pr-col-txt);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

/* List */
.list-item {
  color: var(--pr-col-txt);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* Якщо Ховер та Фокус через пробіл то непрацює у мене */
.list-item:hover {
  color: var(--akcent-col-txt);
}
.list-item:focus {
  color: var(--akcent-col-txt);
}

/* Button */
.btn {
  background-color: var(--bg-akcent-col);
  color: var(--wite-col-txt);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

/* Header */
.list-item-contact {
  color: var(--second-col-txt);
}
.active {
  color: var(--akcent-col-txt);
}

/* Hero-section */
.hero-sect-tittle {
  background-color: var(--bg-darck-col);
  color: var(--wite-col-txt);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Skills-section */
.skills-list-items-tittle {
  background-color: var(--bg-lightgrey-coll);
  color: var(--pr-col-txt);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
