/*Палітра */
/*  палітра тексту
    основний колір тексту --------- #212121
    другорядний колрір тексту ----- #757575
    колір тексту білий------------- #FFFFFF
    колур акценту тексту ---------- #2196F3
    палітра фонів 
    колір акценту------------------ #2196F3
    колір фону білий--------------- #FFFFFF
    колір фону темний-------------- #2F303A
    колір фону св-сірий------------ #F5F4FA */
:root {
  /* text-colores */
  --pr-col-txt: #212121;
  --second-col-txt: #757575;
  --wite-col-txt: #ffffff;
  --akcent-col-txt: #2196f3;
  /* bg-colores */
  --bg-akcent-col: #2196f3;
  --bg-wite-col: #ffffff;
  --bg-darck-col: #2f303a;
  --bg-lightgrey-col: #f5f4fa;
  /* portfolio  */
  --btn-pr-col:#F5F4FA;
}

* {
  font-family: "Roboto", sans-serif;
  color: var(--pr-col-txt);
  /* padding: 0; 
  margin: 0;*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo*/
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--akcent-col-txt);
}
.logo-var {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  
  color: var(--pr-col-txt);
}

/* List */
.list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--pr-col-txt);
}
/* Якщо Ховер та Фокус через пробіл то непрацює у мене */
.list-item:hover {
  color: var(--akcent-col-txt);
}
.list-item:focus {
  color: var(--akcent-col-txt);
}

/* Button */
.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--bg-akcent-col);
  color: var(--wite-col-txt);
}

/* Header */
.list-item-contact {
  color: var(--second-col-txt);
}
.active {
  color: var(--akcent-col-txt);
}

/* Hero-section */
.hero-sect{
  background-color: var(--bg-darck-col);
}
.hero-sect-tittle {
  
  color: var(--wite-col-txt);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Skills-section */
.skills-list-items-tittle {
  background-color: var(--bg-lightgrey-coll);
  color: var(--pr-col-txt);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.skills-list-items-par{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-col-txt);
}
/* Section What we do */
.do-sct{
  background-color: var(--bg-wite-col);
}
.sct-tittle{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}


/* Section Team*/
.sct-team{
  background-color: var(--bg-wite-col);
}
.sct-team-list-tittle{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pr-col-txt);
}
.sct-team-list-par{
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-col-txt);
}


/* Footer */
footer{
  background-color: var(--bg-darck-col);
}
address{
  font-style: normal;
}
.logo-footer{
  color: var(--wite-col-txt);
}
.footer-par{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--wite-col-txt)
}
address{
  font-style: normal;
}



/* PORTFOLIO  */
.portfolio{
  background-color: var(--bg-wite-col);
}
/* Filtr-Button */
.filtr{
  background-color: var(--bg-wite-col);
}
/* Btn-portfolio */
.none{
  border:none;
}
.item-btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pr-col-txt);
  background-color: var(--btn-pr-col);
  border:none;  
}
/* Ховер та фокус непрацюють якщо разом */
.item-btn:hover {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--bg-akcent-col);
  color: var(--wite-col-txt);
  border:none; 

}
.item-btn:focus{
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--bg-akcent-col);
  color: var(--wite-col-txt);
  border:none; 
}

/* Portfolio list section */
.pl-tittle-list-item-tittle{
 font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--pr-col-txt);
}
.pl-tittle-list-item-par{
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color:var(--second-col-txt);
}
.pl-tittle-list-item{
  border: 1px solid #EEEEEE;
}


